.git
.github
.husky
.pnpm-store
.turbo
.vscode
**/.DS_Store
**/*.log

docs
deploy
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md

node_modules
**/node_modules
**/.turbo
**/dist
**/coverage

apps/*/.env
apps/*/.env.*
!apps/server/.env.example
!apps/client/.env.example

**/*.tsbuildinfo
tmp
temp
apps/server/logs
mysql-data
