auto-install-peers=true
enable-pre-post-scripts=true
recursive-install=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=prettier
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=vite*
