services:
  api:
    image: ofeed-server
    network_mode: host
    build:
      context: .
      dockerfile: ./apps/server/Dockerfile
      args:
        NODE_VERSION: 22.20.0
        PNPM_VERSION: 10.29.2
    env_file: ./apps/server/.env
    environment:
      NODE_ENV: production
      PORT: 3001
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
