# FRONTEND SPECIFIC - Public safe
VITE_BASE_API_URL=http://localhost:3001
VITE_PUBLIC_URL=http://localhost:3000
VITE_DEBUG_LOGGING=true
VITE_DEFAULT_LANGUAGE=en
VITE_SUPPORT_EMAIL=support@orienteerfeed.com
VITE_DOCS_URL=docs.orienteerfeed.com
VITE_DISCORD_INVITE_URL=https://discord.gg/QMvnurgKzU
VITE_GITHUB_REPO_URL=https://github.com/orienteerfeed/ofeed
